<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('customer.list.title') %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('customer.fields.firstName') %></th>
                <th><%= __('customer.fields.lastName') %></th>
                <th><%= __('customer.fields.phoneNo') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let customer of customers){ %>
            <tr>
                <td><%=customer.firstName%></td>
                <td><%=customer.lastName%></td>
                <td><%=customer.phoneNo%></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a
                                href="/customers/details/<%=customer._id%>"
                                class="list-actions-button-details"
                            >
                                <span class="material-symbols-outlined">info</span>
                                <%= __('list.actions.details') %></a
                            >
                        </li>
                        <li>
                            <a
                                href="/customers/edit/<%=customer._id%>"
                                class="list-actions-button-edit"
                            >
                                <span class="material-symbols-outlined">edit</span>
                                <%= __('list.actions.edit') %></a
                            >
                        </li>
                        <li>
                            <a
                                href="/customers/delete/<%=customer._id%>"
                                class="list-actions-button-delete"
                            >
                                <span class="material-symbols-outlined">remove</span>
                                <%= __('list.actions.delete') %></a
                            >
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <% } %>
    </table>
    <p><a href="/customers/add" class="button-add"><%= __('customer.form.add.btnLabel') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>
