<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('rentals.list.title') %></h2>
    <table class="table-list rental-list">
        <thead>
            <tr>
                <th><%= __('rentals.fields.customer') %></th>
                <th><%= __('rentals.fields.equipment') %></th>
                <th><%= __('rentals.fields.startDate') %></th>
                <th><%= __('rentals.fields.endDate') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let rental of rentals) { %>
            <tr>
                <td><%= rental.customer.firstName + ' ' + rental.customer.lastName%></td>
                <td>
                    <%= rental.equipment.type + ' ' + rental.equipment.purpose + ' ' +
                    rental.equipment.size %>
                </td>
                <td><%= rental.startDate.toISOString().split('T')[0] %></td>
                <td><%= rental.endDate?.toISOString().split('T')[0] %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a
                                href="/rentals/details/<%=rental._id%>"
                                class="list-actions-button-details"
                            >
                                <span class="material-symbols-outlined"> info </span>
                                <%= __('list.actions.details') %></a
                            >
                        </li>
                        <li>
                            <a
                                href="/rentals/edit/<%=rental._id%>"
                                class="list-actions-button-edit"
                            >
                                <span class="material-symbols-outlined"> edit </span>
                                <%= __('list.actions.edit') %></a
                            >
                        </li>
                        <li>
                            <a
                                href="/rentals/delete/<%=rental._id%>"
                                class="list-actions-button-delete"
                            >
                                <span class="material-symbols-outlined"> remove </span>
                                <%= __('list.actions.delete') %></a
                            >
                        </li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/rentals/add" class="button-add"><%= __('rentals.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>
