<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationEquipmentForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form
        class="form"
        method="post"
        action="<%=formAction%>"
        novalidate
        onsubmit="return validateForm();"
    >
        <input type="hidden" name="_id" value="<%= equipment._id%>" />
        <label for="type"
            ><%= __('equipment.fields.type') %>: <span class="symbol-required">*</span></label
        >
        <input type="text" name="type" id="type" placeholder="2-12 znaków" value="<%= equipment.type
        %>" class="<%= validationErrors.find(e => e.path.includes('type')) ? 'error-input' : '' %>"
        <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
        <span id="errorType" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('type'))) { %> <%=
            validationErrors.find(e => e.path.includes('type')).message %> <% } %>
        </span>
        <label for="size">
            <%= __('equipment.fields.size') %>: <span class="symbol-required">*</span></label
        >
        <input type="number" name="size" id="size" placeholder="40.5" value="<%= equipment.size %>"
        class="<%= validationErrors.find(e => e.path.includes('size')) ? 'error-input' : '' %>"
        <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
        <span id="errorSize" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('size'))) { %> <%=
            validationErrors.find(e => e.path.includes('size')).message %> <% } %>
        </span>
        <label for="purpose">
            <%= __('equipment.fields.purpose') %>: <span class="symbol-required">*</span></label
        >
        <input type="text" name="purpose" id="purpose" placeholder="2-20 znaków" value="<%=
        equipment.purpose %>" class="<%= validationErrors.find(e => e.path.includes('purpose')) ?
        'error-input' : '' %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
        <span id="errorPurpose" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('purpose'))) { %> <%=
            validationErrors.find(e => e.path.includes('purpose')).message %> <% } %>
        </span>
        <% if(formMode=='showDetails' ){ %>
        <div class="section-buttons">
            <a href="/equipment/edit/<%= equipment._id %>" class="form-button-edit"
                ><%= __('form.actions.edit') %></a
            >
        </div>

        <!-- hidden interantionalized error message -->
        <div style="display: none">
            <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
        </div>

        <% } %> <% if(formMode=='showDetails' || formMode=='edit' ){ %>
        <h2><%= __('equipment.form.rentals') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('id') %></th>
                    <th><%= __('rentals.fields.customer') %></th>
                    <th><%= __('rentals.fields.startDate') %></th>
                    <th><%= __('rentals.fields.endDate') %></th>
                </tr>
            </thead>
            <tbody>
                <% for(let rental of equipment.rentals){ %>
                <tr>
                    <td><%= rental._id %></td>
                    <td>
                        <a href="/customers/details/<%= rental.customer._id %>">
                            <%= rental.customer.firstName + ' ' + rental.customer.lastName %>
                        </a>
                    </td>
                    <td><%= rental.startDate.toISOString().split('T')[0] %></td>
                    <td><%= rental.endDate?.toISOString().split('T')[0] %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if(formMode !='showDetails' ){ %>
            <input type="submit" value="<%= btnLabel %>" class="form-button-submit" />
            <a href="/equipment" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
            <% } else { %>
            <a href="/equipment" class="form-button-back"><%= __('form.actions.return') %></a>
            <% } %>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>
