<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('equipment.list.title') %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('equipment.fields.type') %></th>
                <th><%= __('equipment.fields.size') %></th>
                <th><%= __('equipment.fields.purpose') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let eq of equipment){ %>
            <tr>
                <td><%=eq.type%></td>
                <td><%=eq.size%></td>
                <td><%=eq.purpose%></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a
                                href="/equipment/details/<%=eq._id%>"
                                class="list-actions-button-details"
                            >
                                <span class="material-symbols-outlined">info</span>
                                <%= __('list.actions.details') %></a
                            >
                        </li>
                        <li>
                            <a href="/equipment/edit/<%=eq._id%>" class="list-actions-button-edit">
                                <span class="material-symbols-outlined">edit</span>
                                <%= __('list.actions.edit') %></a
                            >
                        </li>
                        <li>
                            <a
                                href="/equipment/delete/<%=eq._id%>"
                                class="list-actions-button-delete"
                            >
                                <span class="material-symbols-outlined">remove</span>
                                <%= __('list.actions.delete') %></a
                            >
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <% } %>
    </table>
    <p><a href="/equipment/add" class="button-add"><%= __('equipment.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>
