<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title><%= __('title') %></title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <h1><%= __('title') %></h1>
            <% if(!loggedUser) { %>
            <div id="login">
                <h5><%= __('nav.logging') %></h5>
                <form method="post" action="/login" novalidate>
                    <span>
                        <label for="loginPhoneNo"><%= __('customer.fields.phoneNo') %>:</label>
                        <input type="text" id="loginPhoneNo" name="phoneNo" size="9" />
                    </span>
                    <br />
                    <span>
                        <label for="loginPassword"><%= __('customer.fields.password') %>:</label>
                        <input type="password" id="loginPassword" name="password" size="9" />
                    </span>
                    <input type="submit" value="<%= __('nav.logIn') %>" />
                    <span id="loginErrors"><%= loginError ?? '' %></span>
                </form>
            </div>
            <% } else { %>
            <span
                ><%= __('nav.loggedAs') %>: <%= loggedUser.firstName + ' ' + loggedUser.lastName %>
            </span>
            <a href="/logout"><%= __('nav.logOut') %></a>
            <% } %>
            <img src="/images/logo.png" alt="Logo wypożyczalni" />
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>"
                        ><%= __('nav.main-page') %></a
                    >
                </li>
                <li>
                    <a href="/customers" class="<%= navLocation == 'customers' ? 'active' : ''%>"
                        ><%= __('nav.customers') %></a
                    >
                </li>
                <% if(loggedUser) { %>
                <li>
                    <a href="/rentals" class="<%= navLocation == 'rentals' ? 'active' : ''%>"
                        ><%= __('nav.rentals') %></a
                    >
                </li>
                <% } %>
                <li>
                    <a href="/equipment" class="<%= navLocation == 'equipment' ? 'active' : ''%>"
                        ><%= __('nav.equipment') %></a
                    >
                </li>
            </ul>
            <ul>
                <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : ''%>">PL</a></li>
                <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>
            </ul>
        </nav>
    </body>
</html>
